#!/bin/bash

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export WORKSPACE="${PWD}"

nix_direnv_watch_file ./shell.nix
nix_direnv_watch_file ./flake.nix
# nix_direnv_watch_file ./gohip.vendor.hash.nix

use flake
